@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-title: Georgia, 'Times New Roman', Times, serif;
  --font-size: 1.2rem;
  --color-light: #aaddff;
  --color-dark:#001188 ;
  --radius: 10rem;
}

.app{
  @apply w-11/12 mt-0 mx-auto mb-72 bg-zinc-200 max-sm:w-full px-5 py-2.5 font-sans;
}

@layer base{
  :root{
    --color-light: #aaddff;
    --color-dark: #001188 ;
  }

  body{
    @apply text-sky-800 text-xl font-sans;
  }

  input {
    @apply text-cyan-950 text-xl font-sans;
  }

  input, select {
  @apply block border w-full rounded-xl transition-[0.2s] mb-2.5 p-3.5 border-solid border-[#ccc];
  }

  input:focus {
    @apply shadow-lg border-[#1199ff] outline-0 ;
  }

  button{
    @apply text-xl font-sans cursor-pointer rounded-xl transition-[0.1s] text-slate-100 mx-0.5 px-6 py-3 border-none;
  }

  button:hover, button:focus {
  @apply shadow-lg;
  outline: none;
}

  button:active {
  @apply shadow-lg;
  }
  button:disabled {
  @apply opacity-50 cursor-wait;
  }

  h1{
    @apply font-sans text-3xl my-4 text-center;
  }

  h2,p {
    @apply m-4;
  }

  h2{
    @apply mb-2.5;
  }

  li{
    @apply mb-2;
  }
  
  hr {
    @apply mx-auto my-8 border-2 border-solid border-black;
  }

}

.complete {
  @apply bg-[#37e129] 
  /* background-color:rgb(72, 200, 72); */
  /* ajeitar o hover */
}

.remove{
  @apply bg-[#ed3b34] 
  /* background-color: #ed3b34; */
   /* ajeitar o hover */
}


.todo-form{
  padding-bottom: 1.5rem ;
}

.todo-list{
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-dark);
}

.tarefa{
  background-color: rgb(136, 202, 252);
  box-shadow: 0 0 10px rgba(0,0,0 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter, .search{
  border-bottom: 1px solid var(--color-dark);
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.filter-options{
  justify-content: space-between;
  gap:3rem;
}

.filter-options div{
  flex: 1 1 0;
}



/* Tudo que está nos arquivos inline para alterar 
Todo.jsx:

  tarefa = flex-wrap ${todo.completa? "line-through bg-red-600" : ""}`

  span no 2p -> className='font-medium'

  div abaixo disso: flex flex-wrap gap-2
  
  OS ICONES COM CADA UM LÁ MOSTRANDO

Botão editar com bg-sky-500

(lembrar de ocultar o botão "concluir e excluir" quando tiver editando

todoForm=====================================
className='bg-red-600' no botão de input para enviar (lembrar de estilizar ele)

filter====================================
na filter-options flex flex-wrap max-sm:flex-col

*/