@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root{
    --color-light: #aaddff;
    --color-dark: #001188 ;
  }

  body{
    @apply text-sky-800 box-border text-xl font-sans;
  }

  input {
    @apply text-cyan-950 text-xl font-sans;
  }

  input, select {
  @apply w-full mb-2.5 p-3.5 block border rounded-xl transition-[0.2s] border-solid border-[#ccc];
  }

  input:focus {
    @apply shadow-lg border-[#1199ff] outline-0 ;
  }

  button{
    @apply mx-0.5 px-6 py-3 text-xl font-sans text-slate-100 cursor-pointer rounded-xl transition-[0.1s] border-none;
    @apply hover:shadow-lg hover:outline-0;
    @apply focus:shadow-lg focus:outline-0;
  }

  h1{
    @apply my-4 font-sans text-3xl text-center;
  }

  h2,p {
    @apply m-4;
  }

  h2{
    @apply mb-2.5;
  }

  li{
    @apply mb-2;
  }
  
  hr {
    @apply mx-auto my-8 border-2 border-solid border-black;
  }
}

.app{
  @apply bg-zinc-200 w-11/12 mt-0 mx-auto mb-72 px-5 py-2.5 font-sans max-sm:w-full;
}

.todo-form{
  @apply pb-6;
}

.todo-list{
  @apply mb-2.5 pb-2.5 border-b border-solid border-b-[color:var(--color-dark)];
}

.todoTask{
  @apply mb-2.5 p-2.5 flex justify-between items-center flex-wrap rounded-xl bg-[#88cafc] shadow-lg ;
}

.textTodo{
  @apply font-medium;
}

.completedTodo{
  @apply bg-red-600 line-through;
}

.filter, .search{
  @apply  mb-2.5 pb-2.5 border-b-[color:var(--color-dark)] border-b border-solid;
}

.filter-options{
  @apply flex flex-wrap justify-between gap-12 max-sm:flex-col;
}

.filter-options div{
  @apply flex-[1_1_0];
}

.classButtons{
  @apply flex flex-wrap gap-2;
}

.completeButton {
  @apply bg-[#37e129];
  @apply active:bg-[#2ffc1e];
}

.removeButton{
  @apply bg-[#ed3b34];
  @apply active:bg-[#f52118];
}

.editButton{
  @apply bg-sky-500;
}

.editingButton{
  @apply bg-cyan-600;
  @apply hover:bg-cyan-800;
  @apply active:bg-cyan-400;
}

.inputButton{
  @apply bg-sky-600 w-52 text-slate-100 cursor-pointer rounded-xl;
  @apply hover:bg-sky-800;
  @apply active:bg-sky-400;
}

.completedButton{
  @apply bg-[#38a82f];
}

.iconPencil,.iconX{
  @apply size-6 text-gray-50;
}